doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title LabHard
header.header(style='margin:0;padding:0;border:0;box-sizing:border-box;width:100vw;background-color:#1e1c1c;height:90px;text-align:center;line-height:90px;position:relative;')
  img.header__img(alt='Logo' valign='middle' src='https://github.com/stick2yourmind/tech_ecommerce/blob/main/src/assets/img/logo.png?raw=true' style='margin:0;padding:0;border:0;box-sizing:border-box;width:3rem;display:inline;position:relative;top:15px;')
  h1.header__title(style='margin:0;padding:0;border:0;box-sizing:border-box;color:whitesmoke;display:inline;text-align:center;') LabHard
main.main__content(style='margin:0;padding:0;border:0;box-sizing:border-box;')
  h2.register__title(style='margin:0;padding:0;border:0;box-sizing:border-box;padding:1rem;text-align:center;') Nuevo usuario registrado: #{name}
  p.register__user(style='margin:0;padding:0;border:0;box-sizing:border-box;padding:1rem;text-align:center;') Correo electronico: #{email}
footer.footer(style='margin:0;padding:0;border:0;box-sizing:border-box;width:100vw;text-align:center;')
  a.footer__link(target='_blank' href='https://api.whatsapp.com/send?phone=15688888888888' rel='noreferrer' style='margin:0;padding:0;border:0;box-sizing:border-box;padding:0.5rem;')
    img.footer__img(alt='Whatsapp contact' src='https://github.com/stick2yourmind/tech_ecommerce/blob/main/src/assets/img/whatsapp.png?raw=true' style='margin:0;padding:0;border:0;box-sizing:border-box;width:2rem;')
  a.footer__link(href='tel:499999999999' style='margin:0;padding:0;border:0;box-sizing:border-box;padding:0.5rem;')
    img.footer__img(alt='phone: 4999-9999-9999' src='https://github.com/stick2yourmind/tech_ecommerce/blob/main/src/assets/img/phone.png?raw=true' style='margin:0;padding:0;border:0;box-sizing:border-box;width:2rem;')
  a.footer__link(href='mailto:labhard@gmail.com' style='margin:0;padding:0;border:0;box-sizing:border-box;padding:0.5rem;')
    img.footer__img(alt='email: labhard@gmail.com' src='https://github.com/stick2yourmind/tech_ecommerce/blob/main/src/assets/img/email.png?raw=true' style='margin:0;padding:0;border:0;box-sizing:border-box;width:2rem;')
